<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fris">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Fris">

        <activity
            android:name=".BestillingActivity"
            android:label="Betaling " />


        <activity android:name=".HandlekurvActivity"
                  android:label="Din Handlekurv" />

        <activity
            android:name=".DessertActivity"
            android:label="Rolled ice-cream"
            >
        </activity>

        <activity android:name=".LoginActivity" /> <!-- SPLASH SCREEN -->
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"> <!-- forhindrer splash screen å vise igjen ved å trykke på "back" -->
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" /> <!-- Aktiviteten som først vises ved oppstart av appen -->
                <action android:name="android.intent.action.MAIN" /> <!-- Entry point. Første aktivitet opprettet ved oppstart av appen -->
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
    </application>

</manifest>